// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-lg-6{
  color:green;
}

navbar-brand{
  color:blue;
}

.btn-default:hover {
    color: #eccb12;
    background-color: #e6e6e6;
    border-color: #adadad;
}
